body                                    { font:12px Helvetica,Arial,sans-serif; background:#F2F2F3; margin:0; color:#555; line-height:1.5; }
a                                       { color:#111; text-decoration:none; }
a:hover                                 { text-decoration:underline; }
h1                                      { width:175px; height:30px; position:relative; margin:0; padding:0; top:10px; }
.loading h1                             { opacity:0; }
.loaded h1                              { opacity:1.0; -webkit-transition:opacity 1s 0.5s; }
h1 a                                    { position:absolute; top:0; left:0; width:175px; height:30px; background:url(../images/switzerland.png); text-indent:-9999px; overflow:hidden; }
h2                                      { font-size:12px; color:#D00; font-weight:normal; text-transform:uppercase; margin:10px 0 0 0; padding:0; }
p                                       { margin:0 0 10px 0; padding:0; }
.header                                 { height:45px; font-size:11px; position:relative; z-index:10; }
.header ol                              { bottom:-50px; right:0; list-style:none; position:absolute; }
.loading .header ol                     { opacity:0; right:-20px; }
.loaded .header ol                      { opacity:1.0; -webkit-transition:opacity 1s 0.5s,right 0.5s 0.5s; }
.header a span                          { font-weight:bold; color:#D00; }
.header li                              { float:left; margin-left:10px; }
.header ol a                            { position:relative; display:block; color:#999; font-weight:normal; text-decoration:none; -webkit-transition:0.5s; -moz-transition:0.5s; }
.header ol a:hover                      { top:3px; color:#333; -webkit-transition:0.1s; }
.header .recent_work                    { position:absolute; right:0; top:18px; font-weight:bold; color:#D00; padding-left:18px; background:url(../images/cross_small_red.png) no-repeat left center; text-decoration:none; text-transform:uppercase; opacity:0.5; -webkit-transition:opacity 0.5s 0; }
.recent_work:hover                      { text-decoration:underline; opacity:1.0; }
/*
_Main Layout
*/
/* an anchor to position everything off of for the most part */
.content                                { position:relative; height:520px; min-height:520px; }
.loading #fade                          { opacity:0; }
.loaded #fade                           { opacity:1.0; -webkit-transition:opacity 1s 1s; }
#index .article                         { position:absolute; left:680px; bottom:20px; width:300px; }
#site                                   { background:#FFF; min-height: 520px; min-width:980px; position: relative; z-index:5; overflow:hidden; }
#production #site                       { overflow: visible; }
#fade                                   { padding:40px 0; min-height:480px; }
.limiter                                { width:980px; position:relative; margin:0 auto; }
#site_wrapper .limiter                  { min-height:500px; }
/* Home Page */
#index #the_cross                       { position:relative; width:515px; height:516px; background:url(../images/cross_home.png) no-repeat; }
/*
_Footer section
*/
.footer                                 { padding:20px 0; font-size:11px; text-align:center; color:#999; background:url(../images/drop_shadow.png) repeat-x #F2F2F3; }
#intro_videos                           { position:absolute; top:0; left:0; width:516px; height:516px; }
#intro_videos video                     { background:#000; position:absolute; cursor:pointer; -webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.7); }
.loading #intro_videos                  { opacity:0; -webkit-transform:opacity 1.0s 0.5s; }
.loaded #intro_videos                   { opacity:1.0; -webkit-transform:opacity 1.0s 0.5s; }
video.ne                                { top:80px; left:320px; }
video.se                                { top:320px; left:320px; }
video.nw                                { top:80px; left:50px; }
video.sw                                { top:320px; left:50px; }
/*
The Player Pane
*/
#player_pane                            { -webkit-shadow:inset 0 2px 4px rgba(0,0,0,1.0); position:absolute; top:0; left:0; width:980px; height:400px; background:rgba(51,51,51,1); border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; }
#media_pane                             { position:absolute; top:40px; bottom:0; left:0; width:735px; }
#player_back_button                     { text-decoration:none; display:block; color:#666; font-weight:bold; text-shadow:0 -1px 0 rgba(0,0,0,1.0); position:absolute; top:7px; left:5px; border:15px solid #000; border-width:0 12px; padding:5px; -webkit-border-image:url(../images/player_back.png) 0 6 0 12 / 0 6px 0 12px stretch; }
#player_back_button:hover               { color:#FFF; }

#creative_navigation                    { position:absolute; top:370px; left:200px; list-style:none; margin:0; padding:0; }
#creative_navigation li                 { float:left; margin-right:5px; }
#creative_navigation a                  { display:block; font-size:10px; color:#999; text-decoration:none; text-transform:uppercase; line-height:1; }
#creative_navigation a:hover            { color:#CB0033;}
#creative_navigation a img              { display:block; margin-bottom:1px; }
#creative_navigation a strong           { font-weight:normal; visibility:hidden; }
#creative_navigation a:hover strong     { visibility:visible; }
#production #creative_navigation        { top:430px; left:460px;}
/* Page specific styles */
#cross                                  { display:none; }
body#about #fade, body#creative #fade   { background:url(../images/cross_about.png) no-repeat center -25px #FFF;}
body#about #site_wrapper                { padding: 0; }
body#about .article                     { margin: 0 200px 0 375px; top:200px; position:relative; margin-bottom:200px; }

body#work_with_us #fade                 { background:url(../images/cross_work_with_us.png) no-repeat center top #FFF; }
#work_with_us_slides                    { position:absolute; top:185px; left:300px; width: 400px;}
.slide_controller                       { border-top:1px solid #DDD; padding-top:5px; margin-top:5px;}
.slide_controller strong                { color:#CB0033; font-weight:normal; text-transform:uppercase; }
.slide_controller .links                { float:right; }
.slide_controller .links a              { font-weight:bold; color:#999; text-decoration:none; padding: 0 2px;}
.slide_controller .links a:hover        { color:#000; }
.slide_controller .links a.current      { color:#CB0033; }

body#production #cross                  { display:block; position:absolute; bottom:-11px; background: url(../images/cross_production.png) center bottom no-repeat transparent; height: 500px; width:100%;}
body#production .article                { position:absolute; top:145px; left:460px; width:365px; }

body#creative div.article               { position:absolute; top:195px; left:360px; width:490px; }
body#business_affairs #fade             { background:url(../images/cross_business_affairs.png) no-repeat center top #FFF; }
body#business_affairs .article          { position:absolute; top:330px; left:380px; width:518px;}
body#contact #fade                      { background:url(../images/cross_full_small.png) center center no-repeat #FFF;}
body#contact .article                   { position:absolute; left:560px; top:175px; }

#contact_list                           { list-style:none; padding:0; margin:0; }
#contact_list strong                    { color:#333; font-weight:normal; text-transform:uppercase; }
#contact_list dl                        { margin:0; padding:0; }
#contact_list dl dt,
  #contact_list dl dt a                 { color:#CB0033; }

#profile #site  .content                { background:url(../images/cross_full_small.png) no-repeat 380px 45px #FFF; min-height: 500px; height:auto; }
#bio_photo                              { position:absolute; top:70px; left:660px;}
#bio_thumbs                             { position:absolute; width:460px; top: 320px; left: 110px; height: 172px; overflow: hidden;}
#bio_thumbs a.thumb                     { float:left; margin:5px;}
#bio_thumbs a.thumb img                 { display:block; }
#bio                                    { width:291px; left:660px; position:relative; top:310px; margin-bottom:180px; }
#more_bio                               { border-top:1px solid #EEE; position:relative; left:660px; width:291px; padding-top:5px; margin-top: 5px; display:block; }
#more_bio img                           { position:absolute; right:0; top:-1px;}

#contact_list dl dt,
  #contact_list dl dd
                                        { display: inline; padding: 0; margin: 0;}
#derek_contact                          { text-align: right; position: absolute; top:150px; right: 220px; width: 400px;}
#jay_contact                            { position:absolute; top: 150px; left:0; width:300px;}

.creative_link                          { color:#CB0033; text-transform:uppercase; font-size:10px; }
.creative_link:hover                    { text-decoration:none; }
.creative_link img                      { display:block; margin-bottom: 10px; }

#creative_link_kathy_brooks             { position:absolute; top: 110px; left:160px; }

#player #player_pane                    { height:550px; position:relative; }
#player #site .limiter                  { height:550px; }
#player_sidebar                         { position:absolute; width:260px; top:0; right:0; bottom:0; overflow:hidden; }
#player_sidebar_padding                 { padding:5px 15px; }
#player_pane                            { color:#EEE; }

#player_creative:after              { content:'.'; clear:both; display:block; height:0; visibility:hidden; }
#player_creative a                  { float:left; display:block; font-size:10px; color:#999; text-decoration:none; text-transform:uppercase; margin:2px 10px 2px 2px; line-height:1; }
#player_creative a:hover            { color:#CB0033;}
#player_creative a img              { display:block; margin-bottom:1px; }
#player_creative a strong             { visibility:hidden; font-weight:normal; }
#player_creative a:hover strong     { visibility:visible; }

#player_sidebar_padding h3:first-child { margin-top: 0;}
#player_sidebar h3                     { font-weight:normal; font-size:13px; text-transform:uppercase; padding:0; margin:10px 0; color:#CB0033; }
#player_sidebar h3 img                 { vertical-align:-20%; } 
#player_video                           { position:absolute; top:40px; }
#player_recent_work                     { position:absolute; top:0; left:-150px;}