    <ul id="creative_navigation">
      <li>
        <a href="/jim_riswold.html">
          <img src="/images/creative/riswold.jpg" alt="Jim Riswold">
          Jim<br>Riswold
        </a>
      </li>
      <li>
        <a href="/charlotte_moore.html">
          <img src="/images/creative/riswold.jpg" alt="Charlotte Moore">
          Charlotte<br>Moore
        </a>
      </li>
      <li>
        <a href="/derek_ruddy.html">
          <img src="/images/creative/riswold.jpg" alt="Derek Ruddy">
          Derek<br>Ruddy
        </a>
      </li>
      <li>
        <a href="/glenn_rockowitz.html">
          <img src="/images/creative/riswold.jpg" alt="Glenn Rockowitz">
          Glenn<br>Rockowitz
        </a>
      </li>
      <li>
        <a href="/jay_howard.html">
          <img src="/images/creative/riswold.jpg" alt="Jay Howard">
          Jay<br>Howard
        </a>
      </li>
      <li>
        <a href="/kathy_brooks.html">
          <img src="/images/creative/riswold.jpg" alt="Kathy Brooks">
          Kathy<br>Brooks
        </a>
      </li>
      <li>
        <a href="/rick_mcquiston.html">
          <img src="/images/creative/riswold.jpg" alt="Rick McQuiston">
          Rick<br>McQuiston
        </a>
      </li>
      <li>
        <a href="/tarsha_rockowitz.html">
          <img src="/images/creative/riswold.jpg" alt="Tarsha Rockowitz">
          Tarsha<br>Rockowitz
        </a>
      </li>
      <li>
        <a href="/todd_grant.html">
          <img src="/images/creative/riswold.jpg" alt="Todd Grant">
          Todd<br>Grant
        </a>
      </li>
    </ul>
