<ul id="creative_navigation">
  <li><a href="/jim_riswold.html" title="Jim Riswold"><img src="/images/creative/riswold.jpg" alt="Jim Riswold"></a></li>
  <li><a href="/charlotte_moore.html" title="Charlotte Moore"><img src="/images/creative/riswold.jpg" alt="Charlotte Moore"></a></li>
  <li><a href="/derek_ruddy.html" title="Derek Ruddy"><img src="/images/creative/riswold.jpg" alt="Derek Ruddy"></a></li>
  <li><a href="/glenn_rockowitz.html" title="Glenn Rockowitz"><img src="/images/creative/riswold.jpg" alt="Glenn Rockowitz"></a></li>
  <li><a href="/jay_howard.html" title="Jay Howard"><img src="/images/creative/riswold.jpg" alt="Jay Howard"></a></li>
  <li><a href="/kathy_brooks.html" title="Kathy Brooks"><img src="/images/creative/riswold.jpg" alt="Kathy Brooks"></a></li>
  <li><a href="/rick_mcquiston.html" title="Rick McQuiston"><img src="/images/creative/riswold.jpg" alt="Rick McQuiston"></a></li>
  <li><a href="/tarsha_rockowitz.html" title="Tarsha Rockowitz"><img src="/images/creative/riswold.jpg" alt="Tarsha Rockowitz"></a></li>
  <li><a href="/todd_grant.html" title="Todd Grant"><img src="/images/creative/riswold.jpg" alt="Todd Grant"></a></li>
</ul>