<ul id="creative_navigation">
  <li><a href="/creative/jim_riswold.html">Jim Riswold</a></li>
  <li><a href="/creative/charlotte_moore.html">Charlotte Moore</a></li>
  <li><a href="/creative/derek_ruddy.html">Derek Ruddy</a></li>
  <li><a href="/creative/glenn_rockowitz.html">Glenn Rockowitz</a></li>
  <li><a href="/creative/jay_howard.html">Jay Howard</a></li>
  <li><a href="/creative/jim_riswold.html">Jim Riswold</a></li>
  <li><a href="/creative/kathy_brooks.html">Kathy Brooks</a></li>
  <li><a href="/creative/rick_mcquiston.html">Rick McQuiston</a></li>
  <li><a href="/creative/tarsha_rockowitz.html">Tarsha Rockowitz</a></li>
  <li><a href="/creative/todd_grant.html">Todd Grant</a></li>
  
</ul>