<div class="header">
  <div class="limiter">
    <h1><a href="/">switzerland</a></h1>
    <a class="recent_work" href="/recent_work.html">View Our Recent Work</a>
    <ol>
      <li><a href="/about.html"><span>01.</span> about switzerland</a></li>
      <li><a href="/work_with_us.html"><span>02.</span> how to work with us</a></li>
      <li><a href="/production.html"><span>03.</span> production</a></li>
      <li><a href="/creative.html"><span>04.</span> creative</a></li>
      <li><a href="/business_affairs.html"><span>05.</span> business affairs</a></li>
      <li><a href="/contact.html"><span>06.</span> contact</a></li>
    </ol>
  </div>
</div>
