---
layout: main
body_id: profile
---
              <div id="bio_thumbs">
                {% for post in page.posts %}
                  <a class="thumb" href="{{ post.url }}"><img src="{{ post.thumbnail }}" alt="{{ page.title }}"></a>
                {% endfor %}
              </div><!-- bio thumbs-->
          
              <div id="bio_photo">
                <img src="/images/creative/jim_riswold_profile.jpg">
              </div><!-- bio photo -->
          
              <div id="bio">
              {{ content }}
              </div><!-- Bio -->
