<!DOCTYPE HTML>
  <html>
  {% include head.html %}
  <body id="{{ page.body_id }}">
    <script type="text/javascript" charset="utf-8">
      $('body').addClass('loading');
    </script>
    <div id="wrapper">
      {% import header.html %}
      <div id="site">
        <div id="fade">
          <div id="cross"></div>
          <div id="site_wrapper">
            <div class="limiter">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
  </html>

