---
layout: main
---

<div id="player_pane">
  <div id="player_back_button">
    Back {{ page.class }}
  </div>
  
  <div id="player_content">
    
    <div id="player_video">
      <video class="ne" src="/video/sample_large.mp4" muted="true" volume="0"  controls width="720" height="480"></video>
    </div>
    
    <div id="recent_work_list">
      
    </div>
    <div id="player_recent_work">
      <img src="/images/recent_work_list.jpg" alt="">
    </div>
    <div id="player_sidebar">
      <div id="player_sidebar_padding">
        <div id="player_creative">
          <h3><img src="/images/cross_small_red_dark.png" alt='+'> Switzerland</h3>
          {% for author in page.author %}
          <a href="{{ author.url }}">
            <img src="/images/creative/riswold.jpg" >
            <strong>{{ author.name | linebreak_name }}</strong>
          </a>
          {% endfor %}
        </div>
        <h3>{{ page.title }}</h3>
        {{ content }}
      </div>
    </div>
  </div>
  
</div>

<script type="text/javascript" charset="utf-8">
  $.initializePlayer($('#player_pane'));
</script>
{{ content }}