---
layout: default
---

<div id="player_pane">
  
  <div id="player_content">

    <div id="player_video" >

	
		<div id="VideoDiv">
<video controls class="ne" muted="true" volume="0"  width="720" height="480" autoplay="autoplay" >
	<source src="{{ page | video_url }}"  type="video/mp4" poster="{{ page | video_poster_image_url }}">
		
		<source src="{{ page | video_url_webm }}"  type="video/webm" poster="{{ page | video_poster_image_url }}">	
	
</video>



		</div>
	
    </div>
	
    
    <div id="player_sidebar">
      <div id="player_sidebar_padding">
        <ul id="spot-meta">
          <li><em>Spot</em> {{ page.title }}</li>
          {% if page.client %}
            <li><em>Client</em> {{ page.client }}</li>
          {% endif %}
          
          {% if page.credits %}
            {% for credit in page.credits %}
            <li>{{ credit | with_title }}</li>
            {% endfor %}
          {% endif %}
        </ul>
        <div id="player_creative">
          <h3>Switzerland</h3>
          {% for author in page.author %}
          <a href="{{ author.url }}">
            <img src="/images/creative/{{ author.author_id }}.jpg" >
            <strong>{{ author.name | linebreak_name }}</strong>
          </a>
          {% endfor %}
        </div>
        {{ content }}
      </div>
    </div>
  </div>
  
</div>


<script type="text/javascript" charset="utf-8">
  $.initializePlayer($('#player_pane'));
</script>
